/* Imports scss */
body {
  margin: 0 auto; }

h2 {
  text-align: center; }

.heading {
  font-family: Montserratbold, sans-serif;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1.1px;
  line-height: 38px;
  margin-top: 20px;
  text-align: center; }

.subheading {
  font-family: DroidSerif;
  font-size: 16px;
  margin: 13px 0 76px;
  font-style: italic;
  color: #777;
  letter-spacing: -.18px;
  text-align: center; }

/*     Headline      */
.navbar {
  width: 100%;
  height: 0px;
  text-align: center; }
  .navbar img {
    margin-top: 4%; }
  .navbar ul {
    width: 60%;
    height: 10px;
    float: right;
    margin-top: 4%; }
  .navbar ul > li {
    display: inline-block;
    padding: 0 25px; }
  .navbar a {
    font-family: Montserratbold, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    background: linear-gradient(currentColor, currentColor) bottom/0 0.1em no-repeat;
    transition: 1s; }
    .navbar a:hover {
      background-size: 100% .1em;
      color: #fed136; }

/*        Welcome Page      */
.welcome-page {
  height: 100vh;
  background-image: url("../image/Slogan/Home.png");
  background-size: cover;
  position: static; }
  .welcome-page .slogan {
    color: #FFF;
    text-align: center;
    max-width: 100%; }
  .welcome-page h1 {
    max-width: 40%;
    font-family: DroidSerif;
    font-size: 40px;
    font-style: italic;
    position: relative;
    top: 40vh;
    left: 30vw;
    margin: 0;
    text-transform: capitalize; }
  .welcome-page h2 {
    font-family: Montserratbold, sans-serif;
    font-size: 65px;
    position: relative;
    top: 37vh;
    text-transform: uppercase; }
  .welcome-page .welcome-button {
    width: 240px;
    height: 65px;
    border-radius: 3px;
    background-color: #fed136;
    border: 3px #FFF solid;
    top: 40vh;
    color: #FFF;
    transition: 1s;
    position: relative;
    cursor: pointer; }
    .welcome-page .welcome-button:hover {
      background-color: #FFF;
      border: 3px #fed136 solid;
      color: #fed136; }
  .welcome-page .text-button {
    font-family: Montserratbold, sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase; }

/*        Promotion      */
.benefits {
  width: 60%;
  margin: 100px auto;
  text-align: center; }
  .benefits .service {
    display: flex; }
  .benefits .service-benefits {
    flex: 1; }
  .benefits .fas {
    font-size: 58px;
    color: #fed136;
    border-radius: 50%;
    padding: 10px;
    transition: 1s;
    min-width: 68px;
    border: solid 3px #fed136; }
  .benefits h3 {
    font-family: Montserratbold, sans-serif;
    font-size: 18px;
    color: #222; }
  .benefits p {
    font-family: RobotoSlab;
    font-size: 14px;
    color: #777;
    text-align: center;
    margin: 0 30px;
    line-height: 22px; }

/*                Portfolio            */
.ability {
  width: 100vw;
  background-color: #f4f4f4;
  text-align: center;
  padding: 5% 0;
  line-height: 10px; }
  .ability .row1-portfolio, .ability .row2-portfolio {
    display: flex;
    justify-content: center; }
  .ability .row-portfolio {
    flex: 1;
    background-color: #FFF;
    max-width: 290px;
    margin: 20px;
    text-transform: capitalize;
    transition: all 0.5s ease; }
  .ability h3 {
    font-family: Montserratbold, sans-serif;
    font-size: 18px;
    color: #333; }
  .ability p {
    font-family: DroidSerif;
    font-size: 14px;
    color: #737373;
    font-style: italic; }

.portfolio-hover {
  cursor: pointer;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: all ease 0.5s;
  opacity: 0;
  width: 290px;
  height: 301px;
  background: rgba(254, 209, 54, 0.9); }
  .portfolio-hover .fa {
    font-size: 70px;
    border-radius: 5px;
    color: #FFF;
    margin: 40% auto; }

.row-portfolio:hover > .portfolio-hover {
  opacity: 1;
  width: 290px;
  height: 301px; }

/*             About                 */
.about {
  width: 940px;
  margin: 5% auto; }

.about-item {
  position: relative;
  margin-bottom: 91px; }
  .about-item:after {
    width: 2px;
    height: 98px;
    position: absolute;
    bottom: -92px;
    left: 50%;
    display: block;
    content: '';
    background-color: #f4f4f4; }

.about-text {
  display: inline-block;
  width: 340px;
  text-align: right;
  vertical-align: top; }
  .about-text p {
    font-family: RobotoSlab;
    font-size: 14px;
    width: 295px;
    float: right;
    margin: 0 1px;
    line-height: 22px;
    color: #777; }

.vertical-line {
  width: 182px;
  height: 182px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 33px 0 35px;
  box-sizing: border-box;
  vertical-align: top;
  border: 7px solid #f4f4f4;
  border-radius: 50%; }

.line-text {
  font-family: Montserratbold, sans-serif;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 11px;
  line-height: 22px;
  color: #222;
  text-align: right; }
  .line-text span {
    display: block;
    text-transform: uppercase; }

.item-right {
  padding-left: 344px; }
  .item-right h3 {
    text-align: left; }
  .item-right p {
    float: left; }
  .item-right .about-text {
    margin-top: 1px;
    text-align: left; }

.item-single {
  margin-bottom: 4px; }
  .item-single:after {
    display: none; }
  .item-single .circle-item {
    font-family: Montserratbold, sans-serif;
    font-size: 18px;
    display: block;
    box-sizing: border-box;
    width: 182px;
    height: 182px;
    margin: 0 auto;
    padding: 33px 31px 0;
    border: 7px solid #f4f4f4;
    border-radius: 50%;
    background: #fed136;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF; }

/*             Team                  */
.team {
  width: 100vw;
  background-color: #f4f4f4;
  text-align: center;
  padding: 5% 0;
  line-height: 10px; }
  .team .gallery-team {
    display: flex;
    justify-content: center; }
  .team .row-team {
    flex: 1;
    margin: 20px;
    text-transform: capitalize;
    max-width: 15vw; }
  .team img {
    border-radius: 50%;
    border: solid 10px #FFF;
    min-width: 220px;
    max-height: 210px; }
  .team h3 {
    font-family: Montserratbold, sans-serif;
    font-size: 16px;
    color: #222; }
  .team p {
    font-family: RobotoSlab;
    font-size: 14px;
    color: #777; }
  .team .fab {
    font-size: 21px;
    color: #222;
    border-radius: 50%;
    padding: 5px;
    transition: 1s;
    min-width: 25px;
    border: solid 3px #222;
    min-height: 25px;
    margin: 5px;
    cursor: pointer; }
    .team .fab:hover {
      transform: scale(1.2); }
  .team .fa-google:hover {
    border: solid 3px #d95232;
    color: #d95232; }
  .team .fa-twitter:hover {
    border: solid 3px #00aced;
    color: #00aced; }
  .team .fa-facebook-f:hover {
    border: solid 3px #3b5998;
    color: #3b5998; }
  .team .fa-pinterest-p:hover {
    border: solid 3px #cb2028;
    color: #cb2028; }
  .team .text-team {
    font-family: RobotoSlab;
    font-size: 16px;
    color: #777;
    max-width: 40vw;
    margin: 25px auto;
    line-height: 25px; }

/*        Partners       */
.partners {
  width: 100vw;
  text-align: center;
  margin: 3% auto; }
  .partners img {
    padding: 0 2%; }

/*         Contact       */
.contact {
  background-color: #1c1c1c;
  text-align: center; }
  .contact .map {
    background-image: url("../image/Map/Map-Image.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 65vh;
    padding-top: 2%; }
  .contact h1 {
    font-family: Montserratbold, sans-serif;
    font-size: 40px;
    color: #fff;
    margin-top: 2%; }
  .contact h6 {
    font-family: DroidSerif;
    font-size: 16px;
    color: #777;
    font-style: italic; }
  .contact .send-message {
    width: 240px;
    height: 65px;
    border-radius: 3px;
    background-color: #fed136;
    border: 3px #FFF solid;
    top: 40vh;
    color: #FFF;
    transition: 1s;
    margin-top: 2%;
    cursor: pointer; }
    .contact .send-message:hover {
      background-color: #FFF;
      border: 3px #fed136 solid;
      color: #fed136; }
  .contact .text-button {
    font-family: Montserratbold, sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase; }

.contact-columns {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  position: relative;
  margin: 0 auto; }
  .contact-columns .columns {
    margin: 15px;
    padding: 15px;
    text-transform: uppercase;
    max-width: 45%;
    border-radius: 3%; }

.message-input {
  position: absolute;
  min-width: 40%;
  right: 0; }

/*                  Footer                 */
.footer {
  text-align: center;
  margin: 1% auto; }
  .footer p {
    font-family: Montserratbold, sans-serif;
    font-size: 14px;
    color: #555;
    display: inline-block;
    margin-left: -25%;
    margin-right: 10%; }
  .footer .fab {
    font-size: 25px;
    color: #FFF;
    border-radius: 50%;
    padding: 6px;
    transition: 1s;
    min-width: 25px;
    min-height: 25px;
    margin: 4px;
    background-color: #222;
    text-align: center;
    cursor: pointer; }
    .footer .fab:hover {
      transform: scale(1.3); }
  .footer .fa-google:hover {
    background-color: #d95232; }
  .footer .fa-twitter:hover {
    background-color: #00aced; }
  .footer .fa-facebook-f:hover {
    background-color: #3b5998; }
  .footer .fa-pinterest-p:hover {
    background-color: #cb2028; }

/* ================== Media ==================== */
@media (max-width: 991px) {
  /*Headline*/
  .navbar ul {
    width: 100%;
    height: 10px;
    margin-top: 0; }
  .navbar ul > li {
    display: block;
    padding: 15px 0; }
  .navbar a {
    font-size: 14px;
    letter-spacing: 3px; }

  /*Welcome Page*/
  .welcome-page h1 {
    max-width: 100%;
    left: 0; }

  /*Promotion*/
  .benefits {
    display: inline; }

  .service {
    text-align: center; }

  /*                Portfolio            */
  .ability {
    margin: 20px auto; }
    .ability .row1-portfolio, .ability .row2-portfolio {
      display: flex;
      flex-wrap: wrap; }
    .ability .row-portfolio {
      min-width: 290px;
      margin: 40px auto;
      line-height: 15px;
      padding-bottom: 10px; }

  /*         About     */
  .about-text {
    float: left;
    text-align: left; }

  .vertical-line {
    margin: 0 34px 0 40px; }

  .item-right {
    padding-left: 0px; }
    .item-right h3 {
      text-align: left;
      padding-left: 50px; }
    .item-right p {
      float: left;
      padding-left: 50px; }
    .item-right .about-text {
      text-align: left; }

  .line-text {
    padding-left: 48px;
    text-align: left; }

  /*             Team                  */
  .team h1 {
    font-size: 30px; }
  .team .gallery-team {
    display: block; }
  .team .row-team {
    margin: 0 auto;
    min-width: 100%; }
  .team .fab {
    min-height: 25px;
    margin: 5px; }
  .team .text-team {
    max-width: 80vw; }

  /*        Partners       */
  .partners {
    margin: 1% auto; }
    .partners img {
      padding: 2% 2%;
      display: block;
      margin: 0 auto; }

  /*         Contact       */
  .contact .map {
    height: 90vh; }
  .contact .contact-columns {
    max-width: 70%; }
  .contact .columns {
    margin: 10px auto;
    min-width: 70%; }

  .message-input {
    position: static; }

  /*                  Footer                 */
  .footer p {
    display: block;
    margin: 0 auto;
    padding: 15px 0; }
  .footer .fab {
    margin: 10px; } }

/*# sourceMappingURL=style.css.map */
