/* Imports scss */
@import 'mixin';
@import 'colors';
@import 'font';

body {
	margin: 0 auto;
}

/* Style of main headers */
.heading {
	@include text($Montserrat, 40px);
    margin: 0;
    text-transform: $uppercase;
    letter-spacing: -1.1px;
    line-height: 38px;
    margin-top: 20px;
    text-align: center;
}

.subheading {
	@include text($DroidSerif, 16px);
    margin: 13px 0 76px;
    font-style: $Italic;
    color: #777;
    letter-spacing: -.18px;
    text-align: center;
}

/*     Headline      */
.navbar {
	@include size(100%, 0px);
	text-align: center;
	img {
		margin-top: 4%;
	}
	ul {
		@include size(60%, 10px);
		float: right;
		margin-top: 4%;
	}
	ul > li {
		display: inline-block;
		padding: 0 25px;
	}
	a {
		@include text($Montserrat, 14px);
		text-decoration: none;
		color: $white; 
		text-transform: $uppercase;
	    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	    transition: 1s;
        &:hover{
			background-size: 100% .1em;
			color: $orange;
		}
    }
}

/*        Welcome Page      */
.welcome-page {
	height: 100vh;
	background-image: url('../image/Slogan/Home.png');
	background-size: cover;
	position: static;
	.slogan {
		color: $white;
		text-align: center;
		max-width: 100%;
	}
	h1{
		max-width: 40%;
		@include text(DroidSerif, 40px);
		font-style: $Italic;
		position: relative;
		top: 40vh;
		left: 30vw;
		margin: 0;
		text-transform: capitalize;
	}
	h2{
		@include text($Montserrat, 65px);
		position: relative;
		top: 37vh;
		text-transform: $uppercase;
	}
	.welcome-button {
		@include size(240px, 65px);
		@include button(3px, $orange, 3px $white solid, 40vh, $white, 1s);
		position: relative;
		cursor: pointer;
		&:hover {
			background-color: $white;
			border: 3px $orange solid;
			color: $orange;
		}
	}
	.text-button{
		@include text($Montserrat, 18px);
		text-align: center;
		text-transform: $uppercase;
	}
}

/*        Promotion      */
.benefits {
	width: 60%;
	margin: 100px auto;
	text-align: center;
	.service {
		display: flex;
	}
	.service-benefits {
		flex: 1;
	}
	.fa-icon {
		@include icon(58px, $orange, 50%, 10px, 1s, 68px);
		border: solid 3px $orange;
	}
	h3 {
		@include text($Montserrat, 18px);
		color: $black;
	}
	p {
		@include text($RobotoSlab, 14px);
		color: $gray;
		text-align: center;
		margin: 0 30px;
		line-height: 22px;
	}
}

/*                Portfolio            */
.ability {
	width: 100vw;
	background-color: #f4f4f4;
	text-align: center;
	padding: 5% 0;
	line-height: 10px;
	.portfolio-wrapper {
		display: flex;
		justify-content: center;
	}
	.row-portfolio {
		flex: 1;
		background-color: $white;
		max-width: 290px;
		margin: 20px;
		text-transform: capitalize;
		transition: all 0.5s ease;
	}
	h3 {
		@include text($Montserrat, 18px);
		color: #333;
	}
	p {
		@include text($DroidSerif, 14px);
		color: #737373;
		font-style: $Italic;
	}
}

.portfolio-hover {
	cursor: pointer;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	transition: all ease 0.5s;
	opacity: 0;
	width: 290px;
	height: 301px;
	background: fade-out($orange, .1);
	.fa {
		font-size: 70px;
		border-radius: 5px;
		color: $white;
		margin: 40% auto;
	}
}

.row-portfolio:hover > .portfolio-hover {
	opacity: 1;
	width: 290px;
	height: 301px;
}

/*             About                 */
.about {
	width: 940px;
    margin: 5% auto;
}
.about-item {
    position: relative;
    margin-bottom: 91px;
    &:after{
    	@include size(2px, 98px);
	    position: absolute;
	    bottom: -92px;
	    left: 50%;
	    display: block;
	    content: '';
	    background-color: $light-grey;
	}
}

.about-text {
    display: inline-block;
    width: 340px;
    text-align: right;
    vertical-align: top;
    p {
    	@include text($RobotoSlab, 14px);
	    width: 295px;
	    float: right;
	    margin: 0 1px;
	    line-height: 22px;
	    color: $gray;
	}
}

.vertical-line {
	@include size(182px, 182px);
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0 33px 0 35px;
    box-sizing: border-box;
    vertical-align: top;
    border: 7px solid $light-grey;
    border-radius: 50%;
}

.line-text {
	@include text($Montserrat, 18px);
    margin-top: 0;
    margin-bottom: 11px;
    line-height: 22px;
    color: $black;
    text-align: right;
    span {
	    display: block;
	    text-transform: $uppercase;
	}
}

.item-right {
    padding-left: 344px;   
	h3 {
    	text-align: left;
    }
    p {
		float: left;
    }
    .about-text {
    	margin-top: 1px;
    	text-align: left;
    }
}

.item-single {
    margin-bottom: 4px;
	&:after {
    	display: none;
    }
	.circle-item {
		@include text($Montserrat, 18px);
	    display: block;
	    box-sizing: border-box;
	    @include size(182px, 182px);
	    margin: 0 auto;
	    padding: 33px 31px 0;
	    border: 7px solid $light-grey;
	    border-radius: 50%;
	    background: $orange;
	    line-height: 27px;
	    text-align: center;
	    text-transform: uppercase;
	    text-decoration: none;
	    color: $white;
	}
}

/*             Team                  */
.team {
	width: 100vw;
	background-color: #f4f4f4;
	text-align: center;
	padding: 5% 0;
	line-height: 10px;
	.gallery-team {
		display: flex;
		justify-content: center;
	}
	.row-team {
		flex: 1;
		margin: 20px;
		text-transform: capitalize;
		max-width: 15vw;
	}
	img {
		border-radius: 50%;
		border: solid 10px $white;
		min-width: 220px;
		max-height: 210px;
	}
	h3 {
		@include text($Montserrat, 16px);
		color: $black;
	}
	p {
		@include text($RobotoSlab, 14px);
		color: $gray;
	}
	.fa-icon {
		@include icon(21px, $black, 50%, 5px, 1s, 25px);
		border: solid 3px $black;
		min-height: 25px;
		margin: 5px;
		cursor: pointer;
		&:hover {
			transform: scale(1.2);
		}
	}
	.fa-google:hover {
		@include fa-icon(solid 3px #d95232, #d95232);
	}
	.fa-twitter:hover {
		@include fa-icon(solid 3px #00aced, #00aced); 
	}
	.fa-facebook-f:hover {
		@include fa-icon(solid 3px #3b5998, #3b5998);
	}
	.fa-pinterest-p:hover {
		@include fa-icon(solid 3px #cb2028, #cb2028);
	}
	.text-team {
		@include text($RobotoSlab, 16px);
		color: $gray;
		max-width: 40vw;
		margin: 25px auto;
		line-height: 25px;
	}
}

/*        Partners       */
.partners {
	width: 100vw;
	text-align: center;
	margin: 3% auto;
	img {
		padding: 0 2%;
	}
}

/*         Contact       */
.contact {
	background-color: #1c1c1c;
	text-align: center;
	.map {
		background-image: url('../image/Map/Map-Image.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 65vh;
		padding-top: 2%;
	}
	h1 {
		@include text($Montserrat, 40px);
		color:#fff;
		margin-top: 2%;
	}
	h6 {
		@include text($DroidSerif, 16px);
		color: $gray;
		font-style: $Italic;
	}
	.send-message {
		@include size(240px, 65px);
		@include button(3px, $orange, 3px $white solid, 40vh, $white, 1s);
		margin-top: 2%;
		cursor: pointer;
		&:hover {
			background-color: $white;
			border: 3px $orange solid;
			color: $orange;
		}
	}
	.text-button {
		@include text($Montserrat, 18px);
		text-align: center;
		text-transform: $uppercase; 
	}
}
.contact-columns {
	display: flex;
	flex-direction: column;
	max-width: 50%;
	position: relative;
	margin: 0 auto;
	.columns {
		 margin: 15px;
		 padding: 15px;
		 text-transform: $uppercase;
		 max-width: 45%;
		 border-radius: 3%;
	}
}
	.message-input {
		position: absolute;
		min-width: 40%;
    	right: 0;
	}

/*                  Footer                 */
.footer {
	text-align: center;
	margin: 1% auto;
	p {
		@include text($Montserrat, 14px);
		color:#555;
		display: inline-block;
		margin-left: -25%;
		margin-right: 10%;
	}
	.fa-icon {
		@include icon(25px, $white, 50%, 6px, 1s, 25px);
		min-height: 25px;
		margin: 4px;
		background-color: $black;
		text-align: center;
		cursor: pointer;
		&:hover {
			transform: scale(1.3);
		}
	}	
	.fa-google:hover {
		background-color: #d95232; 
	}
	.fa-twitter:hover {
		background-color: #00aced; 
	}
	.fa-facebook-f:hover {
		background-color: #3b5998; 
	}
	.fa-pinterest-p:hover {
		background-color: #cb2028; 
	}
}

/* ================== Media ==================== */
@media (max-width: 991px) {

	/*Headline*/	
	.navbar {
		ul {
			@include size(100%, 10px);
			margin-top: 0;
		}
		ul > li {
			display: block;
			padding: 15px 0;
		}
		a {
			font-size: 14px;
			letter-spacing: 3px;
    	}
	}

	/*Welcome Page*/
	.welcome-page {
		h1{
			max-width: 100%;
			left: 0;
		}
	}	

	/*Promotion*/
	.benefits {
		display: inline;
	}

	.service {
		text-align: center;
	}

	/*                Portfolio            */
	.ability {
		margin: 20px auto;
		.portfolio-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		.row-portfolio {
			min-width: 290px;
			margin: 40px auto;
			line-height: 15px;
			padding-bottom: 10px;
		}
	}
	/*         About     */
	.about-text {
		float: left;
	    text-align: left;
	}
	
	.vertical-line {
	    margin: 0 34px 0 40px;
	}
	
	.item-right {
	    padding-left: 0px;   
		h3 {
	    	text-align: left;
	    	padding-left: 50px
	    }
	    p {
			float: left;
			padding-left: 50px
	    }
	    .about-text {
	    	text-align: left;

	    }
	}

	.line-text {
		padding-left: 48px;
    	text-align: left;
	}

	/*             Team                  */
	.team {
		h1 {
			font-size: 30px;
		}
		.gallery-team {
			display: block;
		}
		.row-team {
			margin: 0 auto;
			min-width: 100%;
		}
		.fa-icon {
			min-height: 25px;
			margin: 5px;
		}
		.text-team {
			max-width: 80vw;
		}
	}

	/*        Partners       */
	.partners {
		margin: 1% auto;
		img {
			padding: 2% 2%;
			display: block;
			margin: 0 auto;
		}
	}

	/*         Contact       */
	.contact {
		.map {
			height: 90vh;
		}
		.contact-columns {
			max-width: 70%;
		}
		.columns {
			 margin: 10px auto;
			 min-width: 70%;
		}
	}

	.message-input {
		position: static;
	}

	/*                  Footer                 */
	.footer {
		p {
			display: block;
			margin: 0 auto;
			padding: 15px 0;
		}
		.fa-icon {
			margin: 10px;
		}	
	}
}

