/* Imports scss 
@import 'colors';
@import 'mixin';
@import 'font';
/*...*/
body {
	margin: 0 auto;
	width: 100%;
}

/*     Headline      */
.navbar {
	width: 100%;
	height: 0px;
	text-align: center;
	img{
		margin-top: 4%;
	}
	ul{
		width: 60%;
		height: 10px;
		listy-style-type: none;
		float: right;
		margin-top: 4%;
	}
	ul > li{
		display: inline-block;
		padding: 0 25px;
	}a{
		text-decoration: none;
		color: #FFF; 
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	    transition: 1s;
	        }
        a:hover{
		background-size: 100% .1em;
		color: #fed233;
        }
	}
/*        Welcome Page      */
.slogan {
	height: 100vh;
	background-image: url('../image/Home.png');
	background-size: cover;
	position: static;
}
.slogan2 {
	color: #fff;
	text-align: center;
	h2{
		font-family: DroidSerif;
		font-size: 40px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-style: italic;
		position: relative;
		top: 40vh;
		margin: 0 auto;
		left: 30vw;
	}
	h1{
		font-family: Montserrat;
		font-size: 75px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-weight: 700;
		position: relative;
		top: 37vh;
	}
}
.welcome-button {
	border-radius: 3px;
	background-color: #fed136;
	width: 240px;
	height: 65px;
	border: none;
	position: relative;
	top: 40vh;
	color: #fff;
	transition: 1s;
	border: 3px #fff solid;
	.text-button{
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
	&:hover {
			background-color: #fff;
			border: 3px #fed136 solid;
			color: #fed136;
	}
}
/*        promotion      */
.benefits {
	width: 60%;
	margin: 100px auto;
	text-align: center;
	h1{
		font-family: Montserrat;
		color: #222222;
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	h6{
		font-family: DroidSerif;
		color: #777777;
		font-size: 16px;
		font-style: italic;
		margin-top: 0;
	}
	.service{
		display: flex;
	}
	.service-benefits{
		flex: 1;
	}
	.fas{	
		flex: 1;
	 	font-size: 58px;
		color: #fed136;
		border: solid 3px #fed136;
		border-radius: 50%;
		padding: 10px;
		transition: 1s;
		min-width: 68px;
		&:hover {
			transform: scale(1.2);
			box-shadow: 0 15px 10px rgba(254, 209, 54, 0.4);
		}
	}
	h3 {
		font-family: Montserrat;
		color: #222;
		font-size: 18px;
		font-weight: 700;
	}
	p{
		font-family: RobotoSlab;
		color: #777777;
		font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-weight: 400;
		text-align: center;
		margin: 0 30px;
		line-height: 22px;
	}
}

/*                Portfolio            */
.ability{
	width: 100vw;
	background-color: #f4f4f4;
	text-align: center;
	padding: 5% 0;
	line-height: 10px;
	h1{
		font-family: Montserrat;
		color: #222222;
		font-size: 40px;
		font-weight: 700;
		text-transform: uppercase;
	}
	h6{
		font-family: DroidSerif;
		color: #777777;
		font-size: 16px;
		font-style: italic;
	}
	.row1-portfolio, .row2-portfolio{
		display: flex;
		justify-content: center;
	}
	.row-portfolio{
		flex: 1;
		background-color: #fff;
		max-width: 290px;
		margin: 20px;
		text-transform: capitalize;
		transition: all 0.5s ease;
	}
	h3 {
		font-family: Montserrat;
		color: #333;
		font-size: 18px;
		font-weight: 700;
	}
	p{
		font-family: DroidSerif;
		color: #737373;
		font-size: 14px;
		font-style: italic;
	}
}
.row1-portfolio > .row-portfolio:hover{
	transform: rotate(-10deg);
}
.row2-portfolio > .row-portfolio:hover{
	transform: rotate(10deg);
}

/*             Team                  */
.team {
	width: 100vw;
	background-color: #f4f4f4;
	text-align: center;
	padding: 5% 0;
	line-height: 10px;
	h1 {
		font-family: Montserrat;
		color: #222222;
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
	}
	h6 {
		font-family: DroidSerif;
		color: #777777;
		font-size: 16px;
		font-style: italic;
		font-weight: normal;
	}
	.gallery-team {
		display: flex;
		justify-content: center;
	}
	.row-team {
		flex: 1;
		margin: 20px;
		text-transform: capitalize;
		max-width: 15vw;
	}
	img {
		border-radius: 50%;
		border: solid 10px #fff;
		min-width: 220px;
		max-height: 210px;
	}
	h3{
		font-family: Montserrat;
		color: #222;
		font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-weight: bolder;
	}
	p{
		font-family: RobotoSlab;
		color: #777;
		font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-weight: 400;
	}
	.fab{	
	 	font-size: 21px;
		color: #222;
		border: solid 3px #222;
		border-radius: 50%;
		padding: 5px;
		transition: 1s;
		min-width: 25px;
		min-height: 25px;
		margin: 5px;
	}
	.fab:hover{
		transform: scale(1.2);
	}
	.fa-google:hover {
		border: solid 3px #d95232;
		color: #d95232; 
	}
	.fa-twitter:hover {
		border: solid 3px #00aced;
		color: #00aced; 
	}
	.fa-facebook-f:hover {
		border: solid 3px #3b5998;
		color: #3b5998; 
	}
	.fa-pinterest-p:hover {
		border: solid 3px #cb2028;
		color: #cb2028; 
	}
	.text-team{
		font-family: RobotoSlab;
		color: #777777;
		font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-weight: 400;
		max-width: 40vw;
		margin: 25px auto;
		line-height: 25px;
	}
}

/*        Partners       */
.partners {
	width: 100vw;
	text-align: center;
	margin: 3% auto;
	img{
		padding: 0 2%;
	}
}

/*         Contact       */
.contact {
	background-color: #1c1c1c;
	text-align: center;
	.map{
		background-image: url('../image/Map-Image.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 65vh;
		padding-top: 2%;
	}
	h1{
		font-family: Montserrat;
	color:#fff;
	font-size: 40px;/* Przybliżenie (wynika z podstawienia czcionki) */
	font-weight: 700;
	margin-top: 2%;
	}
	h6 {
		font-family: DroidSerif;
		color: #777;
		font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-style: italic;
		font-weight: normal;
	}
	.send-message {
	border-radius: 3px;
	background-color: #fed136;
	width: 240px;
	height: 65px;
	border: none;
	top: 40vh;
	color: #fff;
	transition: 1s;
	border: 3px #fff solid;
	margin-top: 2%;
	.text-button{
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
	&:hover {
			background-color: #fff;
			border: 3px #fed136 solid;
			color: #fed136;
	}
}
}
.contact-columns {
	display: flex;
	flex-direction: column;
	max-width: 50%;
	position: relative;
	margin: 0 auto;
	.columns {
		 margin: 15px;
		 padding: 15px;
		 text-transform: uppercase;
		 max-width: 45%;
		 border-radius: 3%;
	}
}
	.message-input {
		position: absolute;
		min-width: 40%;
    	right: 0;
	}

/*                  Footer                 */
.footer {
	text-align: center;
	margin: 1% auto;

	p{
		font-family: Montserrat;
		color:#555;
		font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
		font-weight: 600;
		display: inline-block;
		margin-left: -25%;
		margin-right: 10%;
	}
	.fab{
		font-size: 25px;
		color: #fff;
		border-radius: 50%;
		padding: 6px;
		transition: 1s;
		min-width: 25px;
		min-height: 25px;
		margin: 4px;
		background-color: #222;
		text-align: center;
	}
	.fab:hover{
		transform: scale(1.3);
	}
	.fa-google:hover {
		background-color: #d95232; 
	}
	.fa-twitter:hover {
		background-color: #00aced; 
	}
	.fa-facebook-f:hover {
		background-color: #3b5998; 
	}
	.fa-pinterest-p:hover {
		background-color: #cb2028; 
	}
}